@import '~bulma';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #faf9f6;
}

.h-full {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.alert {
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius;
  &.error {
    border-color: #f14668;
    color: #f14668;
  }
}

.status-rejected {
  background-color: #fd6b6b!important;
  color: #FFF!important;
}
.status-approved {
  background-color: #00d1b2!important;
}
.status-pending {
  background-color: #fff5ce!important;
  color: #8a8a8a!important;
}

.bordered {
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: $border-radius;
  overflow: hidden;
}

.button.is-small.br-c {
  border-radius: $border-radius;
}

.dynamic-form {
  .section-header {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    &__title {
      border-radius: $border-radius 0 0 $border-radius;
      padding: 0.2rem 0.5rem;
      background: teal;
      color: #FFF;
      font-weight: 500;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        font-size: 0.8rem;
        font-weight: 500;
        background: rgba(0,0,0,0.2);
        width: 1.2rem;
        height: 1.2rem;
        color: #f2f2f2;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;
      }
    }
    .line {
      flex: 1;
      position: relative;
      margin-left: 0rem;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background: rgba(0,0,0,0.15);
      }
    }
  }
  .subgroup-title {
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 1.5rem 0 0.3rem;
    padding-left: 1.5rem;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 1.2rem;
      height: 2px;
      background: rgba(0,0,0,0.3);
    }
    + p {
      color: #767475;
    }
  }
  .section-form {
    padding: 0 2rem 2rem;
    &:not(:first-child) {
      padding-top: 1.5rem;
      border-top: 1px solid rgba(0,0,0,0.15);
    }
    &:nth-child(2) {
      background: #f1f8f7;
    }
  }
  .actions {
    display: flex;
    padding: 0 2rem;
    align-items: center;
    justify-content: flex-end;
  }
}

.table-list {
  position: relative;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  &__item {
    background: #FFF;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &.disabled {
      background: #f5f5f5;
    }
    div:first-child {
      flex: 1;
    }
    &:hover {
      background: #efefef;
    }
  }
  &__actions {
    width: 210px;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.has-overlay::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,0.45);
  }
}

dialog {
  border: none;
  background: transparent;
  padding: 1rem;
  width: 90%;
  @media screen and ($media-desktop) {
    max-width: 500px;
  }
  &::backdrop {
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(1px);
  }
  .close {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    border: 1px solid lighten($blue-darken, 10%);
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    padding: 0;
    color: $blue-darken;
    background: #FFF;
    cursor: pointer;
    transition: all 0.1s ease;
    &:hover {
      background: $blue-darken;
      border-color: lighten($blue-darken, 5%);
      color: #FFF;
    }
  }
  .button {
    border-radius: 0;
  }
  .modal-content {
    margin: 0;
    width: 100%;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
}