/* Media querys */
$media-mobile: 'max-width: 600px';
$media-tablet: 'min-width: 600px';
$media-desktop: 'min-width: 960px';
$media-lg: 'min-width: 1264px';
$media-xlg: 'min-width: 1904px';

/* General */
$drawer-width: 250px;
